body {
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/f6/ef/4b/f6ef4bb56374cb5c7fe3e0ed89b74a27.jpg);
  background-position-x : -500px; 
  font-family: 'omyu_pretty';
  display: flex;
  align-items: flex-end;
}
.container {
  width: 30vw;
  margin-right: 150px;
}
.header {
  display: flex;
  justify-content: space-between;
}
#user-input {
  width: 25vw;
}
.context {
  border: 1px solid lightgray;
  min-height: 80vh;
  margin-top: 20px;
}
.todo-finish {
  text-decoration: line-through;
}
.tab-area {
  border-bottom: 1px solid lightgray;
  display: flex;
  position: relative;
}
#under-line {
  height: 4px;
  background-color: lightgray;
  position: absolute;
  width: 70px;
  left: 0px;
  top: 40px;
}
.tab-area div{
  width: 70px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.task {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.backgroud-gray {
  background-color: lightgray;
}
.icon-size {
  font-size: x-large;
}
/* .icon-padding {
  padding: 5px 0;
} */
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}