body {
  margin: 0;
}
#user-input {
  width: 20vw;
}
.context {
  border: 1px solid lightgray;
  min-height: 80vh;
  margin-top: 20px;
}
.todo-finish {
  text-decoration: line-through;
}
.tab-area {
  border-bottom: 1px solid lightgray;
  display: flex;
  position: relative;
}
#under-line {
  height: 4px;
  background-color: lightgray;
  position: absolute;
  width: 70px;
  left: 0px;
  top: 40px;
}
#tab{
  width: 70px;
  padding: 10px;
  text-align: center;
}
.task {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.backgroud-gray {
  background-color: lightgray;
}
.icon-size {
  font-size: x-large;
}
/* .icon-padding {
  padding: 5px 0;
} */
